<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Hey what's up this is the app.</h2>
    <button type="button" onclick="location.href='@Url.Action("Index","Secure")'">See Secure Stuff</button>
</body>
</html>