<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Secure page.</h2>
    <button type="button" onclick="location.href='@Url.Action("GetAnimals","Secure")'">Get API data!</button>
</body>
</html>