<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>This is secure.</h2>
    <button type="button" onclick="location.href='@Url.Action("Logout","Secure")'">Logout</button>
    <button type="button" onclick="location.href='@Url.Action("Index","Home")'">Go Home</button>
</body>
</html>