<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Log in below:</h2>
    <button type="button" onclick="location.href='@Url.Action("Login","Account")'">Login</button>
</body>
</html>